@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Playfair+Display:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
font-family: 'Dancing Script',
cursive;
font-family: 'Playfair Display',
serif;
*/

html{
  scroll-behavior: smooth;
}
h1{
font-family: 'Dancing Script',
    cursive;
  }

h2,h3,h4,h5,p, .title{
  font-family: 'Playfair Display',
    serif;
}

a{
  text-decoration: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.background-hero{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.623), rgba(0, 0, 0, 0.5)), url('./assets/hero-2.jpg');
  background-position: center;
  background-size: cover;
}

.coffee-cup{
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 1.5s linear infinite;
}

@keyframes draw {
  to{
    stroke-dashoffset: 0;
  }
}